.container {
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(4, 130, 139);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    list-style: none;
    padding-left: 0;
}

/* 
    Animated cartoon design 2d button 
*/
.nav-link-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    /* color: rgb(4, 130, 139); */
    /* background-color: rgb(196, 231, 255); */
    transition: all 0.3s ease-in-out;
}

/* 
    Set text color to white when hovering over button
    Make background a darker shade of blue when hovering over button

*/
.nav-link-item:focus {
    color: white;
    background-color: rgb(250, 250, 250);

}



.active-nav-link-item::before{
    content:"";
    z-index:-1;
    left:0em;
    top:0.5em;
    border-width:3px;
    border-style:solid;
    border-color:rgb(168, 6, 101);
    position:absolute;
    border-right-color:transparent;
    width:110%;
    height:1.2em;
    transform:rotate(2deg);
    opacity:0.5;
    border-radius:0.35em;
  }
  .active-nav-link-item::after{
    content:"";
    z-index:-1;
    left:0.1em;
    top:0em;
    border-width:2px;
    border-style:solid;
    border-color:rgb(250, 6, 6);
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:110%;
    height:1.2em;
    transform:rotate(-1deg);
    opacity:0.5;
    border-radius:0.45em;
  }
/* 
    border of animated button
*/
.nav-link-item::after {
    content: '';
    display: block;
    /*Make :after be as big as button*/
    width: 100%;
    height: 100%;

    background-color: rgb(4, 130, 139);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}



.nav-link-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(2, 21, 22);
}


/*
    site title style.
    Bold movie-title style in dark green with a dark shwadow.
    It should flicker when highlighted.
*/
.site-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(4, 130, 139);
    text-shadow: 0 0 1px rgb(4, 130, 139);
    transition: all 0.3s ease-in-out;
}
.site-title:hover {
    color: rgb(40, 202, 243);
    text-shadow: 0 0 1px rgb(255, 255, 255);
}